<!doctype html>
<html lang="en">
  <head>
    <title>Super Magic BLAST</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </head>
  <body>

    {% load static %}

    <a href="/smblast/" class="float-left"><img src="{% static "smblast/img/logo.png" %}" class="img-fluid"></a>

    <div class="card">
      <div class="card-body">
        <div class="m-3"></div>
        <h4 class="text-center">Please wait...</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress" role="progressbar"></div>
        </div>
        <div id="status"></div>
      </div>
    </div>

    <script type="text/javascript">
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });

      function CheckProgress() {
        $.ajax({ 
          type: "POST",
          dataType: "json",
          data: "user_id={{user_id}}",
          url: "/smblast/progress/get/",
          success: function(data) {
            var isFinished = data['finished'];
            if (isFinished) {
              window.location.href = "/smblast/result/?user_id={{ user_id }}";
              return;
            }

            var progress = data['progress'];
            var status = data['status'];
            $('#progress').css('width', progress + "%");
            $('#status').html(status);
          }
        });
      }

      $(function() {
        setInterval(function(){ CheckProgress(); }, 1000);
      });
    </script>

  </body>
</html>